export BOT_TOKEN="9999999999:kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk"
export KEK_REPLY_CHANCE="0.3" # Chance of replying to a message with "Баян"
export SHOW_SIMILARITY=false # Whether to show similarity in bot`s reply
